
.setting{
    background: rgb(255, 255, 255);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    transition: all 1s ease-in-out;
} 
.input{
    width: 400px !important;
}
.close{
    transform: translateX(-6000px);
}
.back{
    transform: translateX(0px);
}
#setting1{
    background-color: rgb(127, 136, 255);
    z-index: 9999;
}
#setting2{
    background-color: rgb(255, 127, 219);
    z-index: 9998;
}
#setting3{
    background-color: rgb(127, 176, 255);
    z-index: 9997;
}
#setting4{
    background-color: rgb(255, 127, 127);
    z-index: 9996;
}
#setting5{
    background-color: rgb(255, 251, 127);
    z-index: 9995;
}
#setting6{
    background-color: rgb(255, 127, 219);
    z-index: 9994;
}
#setting7{
    background-color: rgb(127, 217, 255);
    z-index: 9993;
}
input:invalid {
    animation: forwards 1s input cubic-bezier(0.4, 0.74, 0.36, -1.22);
    border: 2px solid red !important;
    box-shadow: 10px 5px 5px red;
}  
input:invalid + input::after {
    color: red;
    content: '間違っています。';
    background: white;
    position: fixed;
    border-radius: 5px;
}  
.eroor{
    display: none;
}
@keyframes input{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(100px);
    }
    50%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px);
    }
}