* {
    margin: 0 0 0 0;
}
.nav {
    background: rgb(0, 255, 136);
    width: 100vw;
    height: 10vh;
}
.logo {
    padding-top: 3.5vh;
    padding-left: 100px;
    font-size: x-large;
    color: rgb(98, 92, 92);
    font-weight: bold;
    font-family: sans-serif;
    float: left;
}
.selection {
    padding-top: 3.5vh;
    padding-left: 100px;
    font-size: larger;
    color: rgb(98, 92, 92);
    font-weight: bold;
    font-family: sans-serif;
    float: left;
}
.selection:visited {
    color: rgb(98, 92, 92);
}
#load{
    z-index: 9999;
    background: black;
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    transition: all 1s;
    text-align: center;
    left: 0;
}
#load h1{
    color: white;
    font-size: xx-large;
    transform: translateY(230%);
    font-weight: bold;
}